<footer>
    <div class="wrapper">
     	<div style="float:right;">
  			<strong>Copyright © 2013</strong>
            <a class="footer-link">Colan Infotech</a>
  		</div>
	</div>
  	</footer>  
</body>
</html>